.canvas-container-wrapper {
  width: 100%;
}

.canvas-container {
  border: 1px solid #e2e8f0; /* slate-200 */
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.canvas-title {
  border-bottom: 1px solid #e2e8f0; /* slate-200 */
}
